body {
  background-image: url(bg.jpg);
}

.container {
  display: flex;
  height: 100vh;
  margin: 0 10rem;
}

.left {
  width: 12rem;
  background-color: #FFF5B7;
}

.right {
  flex: 1;
  background-color: #00EAD3;
}

.logo {
  width: 50%;
  padding-left: 1.8rem;
}

.active {
  color: crimson;
}